*.pyc
.vscode
output
build
*.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.txt
/eval
outputs
media
animation
data
experiment
lego
output*
eval_cuda
eval_mip360_indoor
plots
truck_beta_*
truck_nasg_*